*{
  margin: 0%;
  scroll-behavior: smooth;
}
.h1{
  color: #ffffff;
  text-decoration: none;
  font-family:  "Gotham Medium", -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 21px;
  letter-spacing: 2px;
}

.container{
  /* border: 10px solid red; */
  position: static; 
  padding-top: 3vh;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* border: black solid; */
  
}
.container__Img{
  /* Center and scale the image nicely */
  background-image: url(/Img/M3-Hero-LHD-US-D.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container_navbar{
  position: fixed; 
  width: 100vw;
  background-color: none;
  justify-content: space-between;
  z-index: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 5%;
  text-size-adjust: 100%;

}
.container__navbar--symbol{
  padding: 0px 0px 0px 32px;
  float: left;
  max-width: 130px;
  max-height: 120px;
  width: 30%;
  filter: invert(100%);

}
.container__navbar--mid{
  padding-bottom: 0px;
  padding-inline-end: 8px;
  padding-inline-start: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  
}

.container__navbar button{
  /* text format */
  color: #ffffff;
  text-decoration: none;
  font-family:  "Gotham SSm", -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* position */
  padding: 4px 8px;
  margin: 0px 8px;
  text-align: center;
  /* width: 100%; */
  height: 40px;
  /* other */
  background-color: transparent;
  border: none;
  border-radius: 200px;
  cursor: pointer;
  overflow: hidden;
}

.container__navbar button:hover{
  background-color: grey;
  padding: 4px 8px;
  margin: 0px 8px;
}
.container__navbar--right{
  padding-bottom: 0px;
  padding-inline-end: 8px;
  padding-inline-start: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  float: right;
  max-height: 120px;
  width: 20%;
}

.model3{
  /* text format */
  color: #ffffff;
  text-decoration: none;
  font-family:  "Gotham Medium", -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 21px;
  letter-spacing: 2px;
    /* other */
  padding: 84.06px 0px 0px 0px;
  margin-top: 5px;
  text-align: center;
  text-size-adjust: 100%;
}

/* *****************second page************ */
.container2{
  z-index: 100;
  overflow: hidden;

}
.left_div{
  top: 0px;
  position: relative;
  padding-bottom: 0px;
  padding-inline-end: 50px;
  padding-inline-start: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 0px;
  width: 30%;
  height: 876px;
  float: left;
}
.hedrs{
  color: #181b21;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 34px;
}
.hedrs h1{
  font-family:  "Gotham Medium", -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 28px;
  line-height: 36px;

}
.hedrs h2{
  font-family:  "Gotham Light", -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight:normal;
}
.left_div p{
  color: #393c41;
  font-family:  "Gotham SSm", -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight:normal;
}
.grey_table{
  background-color: rgb(226, 228, 228);
  padding: 24px;
  border-radius: 24px;
  max-width: 320px;
  height: 287px;
}
.right_div{
  display: flex;
  float: right;
  flex-basis: 0%;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 62%;
  height: 876px;
  background-image: url(/Img/model_3_safety_hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.right_div--img{
}


/* ************Third Page********* */
.upper_container{
  margin: 0px;
  padding: 0px;
  align-content: stretch;
  align-items: center;
  color: rgb(57,60,65);
  cursor:auto;
  display: flex;
  flex-basis: 100%; 
  height: 75%;
  background-image: url(/Img/lhd-performance-hero-desktop.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lower_container{
  padding-right: 48px;
  padding-left: 48px;
  height: 25%;
}